@import "global/fonts";

html, body {
  background-color:#e5e5e5;
  padding:0;
  margin:0;
  color:#333;
  font-size:16px;
  line-height:160%;
  font-family:'Nunito', Arial, Helvetica, sans-serif;
  scroll-behavior:smooth;
}

.no-break {
  white-space:nowrap;
}

@media only screen and (max-width: 800px) {

  .omittable {
    display:none;
  }

}

.jumbo-header {
  height:380px;
  width:100%;
  overflow:hidden;

  img#header-background {
    height:380px;
    width:100%;
    object-fit:cover;
  }

  .a9s-annotationlayer .a9s-annotation {
    
    rect.a9s-outer {
      stroke:rgba(255, 255, 255, 0.1);
    }

    rect.a9s-inner {
      stroke:#fff;
    }

  }

  .jumbo-header-foreground {
    position:absolute;
    top:0;
    width:100%;
    height:380px;
    background-color:rgba(36, 36, 36, 0.85);
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1;
  
    .jumbo-header-logo {
      font-family:Megrim;
      font-size:58px;
      padding-bottom:30px;
    }  
  
  }

  .r6o-editor {
    z-index:1;

    .r6o-editor-inner .r6o-footer button.r6o-btn {
      background-color:#979797;
      border:none;
    }

  }

  svg {
    z-index:0;
  }

}

@media only screen and (max-width: 800px) {

  .jumbo-header {
    height:260px;

    img#header-background {
      height:260px;
    }

    .jumbo-header-foreground {
      height:260px;

      .jumbo-header-logo {
        padding-bottom:0;
      }  
    }

  }

}

.jumbo-header-navbar {
  position:fixed;
  width:100%;
  box-sizing:border-box;
  text-align:right;
  top:0;
  left:0;
  z-index:3;

  .mobile-only {
    display:none;
  }

  ul {
    list-style-type:none;
    margin:0;
    padding:20px;
  }

  li {
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0);
    cursor:pointer;
    transition:color 0.2s linear, background 0.2s linear;

    a {
      display:inline-block;
      padding:3px 8px;
      color:#fff;
      text-decoration:none;
    } 

  }

  li:hover {
    background-color:rgba(255, 255, 255, 1);

    a {
      color:#222;
      text-decoration:none;
    }

  }

  li.github img {
    vertical-align:text-bottom;
  }

  li.github:hover {
    background-color:transparent;
  } 

}

@media only screen and (max-width: 800px) {

  .jumbo-header-navbar {
    position:absolute;
    
    .mobile-only {
      display:block;
      position:absolute;
      top:0;
      right:0;

      button#open-responsive-menu {
        padding:14px 20px;
        cursor:pointer;
        background:none;
        outline:none;
        border:none;
        font-size:28px;
        color:#fff;

        img {
          width:28px;
        }

      }

    }

    ul {
      display:none;
    }

  }

}

.jumbo-header-navbar.responsive {

  ul, li {
    display:block;
  }

  ul {
    padding:55px 0 0 0;
  }

  li {
    margin:0;
    padding:8px;
    border-radius:0;
    background-color:#333;
    border-top:1px solid rgba(255, 255, 255, 0.08);
  }

}

p {
  padding:0;
  margin:0;
}

.column {
  position:relative; 
  background-color:#fff; 
  box-shadow:0px 1px 3px rgba(55, 55, 55, 0.15), 0px 1px 1px rgba(55, 55, 55, 0.1);
  z-index:2;
  border-radius:5px;
  width:800px;
  top:-40px;
  margin:0 auto 10px auto; 

  .r6o-editor {

    .r6o-editor-inner .r6o-footer {
     
      button.r6o-btn, button.r6o-btn:hover {
        background-color:#f28f1e;
        border-color:#f28f1e;
      }

      button.r6o-btn.outline {
        color:#df8218;
        background-color:#fff;
      }

    }

    .r6o-widget.comment {
      font-family:'Nunito', Arial, Helvetica, sans-serif;
      font-size:14px;
      line-height:140%;
    }
  
  }
  
}

@media only screen and (max-width: 800px) {

  .column {
    border-radius:0;
    width:auto;
    top:0;
    margin:0; 
  }

}

.download-button {
  display:inline-block;
  margin:20px 0 5px 0;
  padding:10px 35px;
  border-radius:4px;
  border: solid 1px #da7c0c;
  color:#fff;
  text-decoration:none;

  background:-webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background:-moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.download-latest {
  padding:35px 20px 30px 20px;
  text-align:center;

  h2 {
    font-size:18px;
    padding:0;
    margin:0;
  }

  .osd-link {
    color: #ed7f22;
    font-size:15px;

    a {
      color:#ed7f22;
    }
  }

}

@media only screen and (max-width: 800px) {
  
  .download-latest {
    padding:50px 35px;
  }

}

.highlight pre {
  padding:20px;
  font-size:15px;
  line-height:140%;
  margin:0;  
  overflow-y:auto;
}

.message {
  padding:30px 50px;
  height:180px;
  display:flex;
  align-items:center;
  justify-content:center;

  strong {
    font-size:18px;
  }
  
  a {
    color:#333;
  }

}

@media only screen and (max-width: 800px) {
  
  .message {
    padding:40px 30px;
    height:auto;
  }

}

.divider-image {
  width:100%; 
  height:250px;

  img {
    width:100%;
    height:250px;
    object-fit:cover;
  }

}

.download-openseadragon {
  padding:40px 20px 50px 20px;
  text-align:center;

  img {
    width:300px;
  }

  p {
    padding:10px 40px;

    a {
      color:#333;
    }
  
  }

  @media only screen and (max-width: 800px) { 

    p {
      padding:10px;
    }

  }

}

footer {
  background:#222;
  color:#fff;
  position:relative;
 
  img {
    margin:0;
    padding:0 5px 0 0;
    vertical-align:middle;
  }

  .inner {
    width:100%;
    box-sizing:border-box;
    padding:30px 20px;
    max-width:980px;
    margin:0 auto;
  }

  p {
    margin:0;
    padding:2px 0;
  }

  p.github-link {
    padding-top:4px;
  }

  a {
    color:#fff;
  }
}
