@import "global/fonts";

body, html {
  background-color:#fff;
  padding:0;
  margin:0;
  color:#333;
  font-family:'Nunito', Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:160%;
}

.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  text-align:right;
  background-color:#222;
  font-size:16px;
  z-index:1;

  ul {
    list-style-type:none;
    margin:0;
    padding:20px;
  }

  li {
    display:inline-block;
    margin:0 5px;
    padding:3px 8px;
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0);
    cursor:pointer;
    transition:color 0.2s linear, background 0.2s linear;

    a {
      color:#fff;
      text-decoration:none;
    } 

  }

  li:hover {
    background-color:rgba(255, 255, 255, 1);

    a {
      color:#222;
      text-decoration:none;
    }

  }

  li.github img {
    vertical-align:text-bottom;
  }

  li.github:hover {
    background-color:transparent;
  } 

}

.column {
  position:relative;
  width:100%;
  padding:110px 20px 80px 240px;
  max-width:980px;
  margin:0 auto;
  box-sizing:border-box;
}

.tabs {
  padding-bottom:20px;
  font-size:13px;
  pointer-events:auto;

  .tab {
    display:inline-block;
    padding:0 5px;
    margin-right:1px;
    text-decoration:none;
    color:#fff;    
  }

  a.tab:hover {
    text-decoration:none;
  }

  .current {
    border-bottom:2px solid #c49865;  
  }

}

.table-of-contents {
  position:fixed;
  width:100%;
  max-width:980px;
  top:110px;
  left:50%;
  transform: translate(-50%, 0);
  line-height:170%;
  pointer-events:none;

  nav {
    float:left;
    pointer-events:auto;
  }

  ul {
    list-style-type:none;
    margin:0;
    padding:0 0 0 2px;
  }

  ul ul {
    padding-left:10px;
  }

  li {
    font-weight:bold;
  }

  ul ul li {
    font-weight:normal;
  }

  a {
    text-decoration:none;
  }

  a:hover {
    text-decoration:underline;
  }
}

a {
  color:#333;
}

h1, h2, h3, h4 {
  margin:0;
  padding:0;
}

h1 {
  font-size:22px;
  padding-bottom:10px;
}

h3 {
  padding-top:20px;
}

blockquote {
  background-color:#f6f0e5;
  margin:0;
  border-left:3px solid #c49865;
  padding:12px;
  margin-bottom:30px;
  color:#5b4831;
  line-height:170%;

  p {
    padding:0;
    margin:0;
  }

}

.highlight pre {
  padding:15px;
  margin:25px 0;
  border-radius:3px;
}

li > code, p > code {
  display:inline-block;
  border-radius:3px;
  padding:0 4px;
  background-color:#e9e9e9;
}

table {
  border-collapse:collapse;
  width:100%;
  margin:30px 0;

  th {
    background: #e8eaed;
  }

  th, td {
    padding:5px 10px;
    font-size:15px;
    vertical-align:top;

    code {
      font-weight:bold;
    }

  }

  thead tr {
    text-align: left;
    border-top: 1px solid #dadce0;
  }

  tr {
    border-bottom: 1px solid #dadce0;
  }

}

