@import "global/fonts";

body, html {
  background-color:#fff;
  padding:0;
  margin:0;
  color:#333;
  font-family:'Nunito', Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:160%;
  display:flex;
  flex-direction:column;
  height:100%;
  overflow-x:hidden;
}

.no-break {
  white-space:nowrap;
}

.navbar {
  width:100%;
  box-sizing:border-box;
  text-align:right;
  background-color:#222;
  font-size:16px;
  z-index:1;

  .mobile-only {
    display:none;
  }

  ul {
    list-style-type:none;
    margin:0;
    padding:20px;
  }

  li {
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0);
    cursor:pointer;
    transition:color 0.2s linear, background 0.2s linear;

    a {
      display:inline-block;
      padding:3px 8px;
      color:#fff;
      text-decoration:none;
    } 

  }

  li:hover, li.current {
    background-color:rgba(255, 255, 255, 1);

    a {
      color:#222;
      text-decoration:none;
    }

  }

  li.github img {
    vertical-align:text-bottom;
  }

  li.github:hover {
    background-color:transparent;
  } 

}

@media only screen and (max-width: 800px) {

  .navbar {

    .mobile-only {
      display:block;
      
      button#open-responsive-menu {
        padding:14px 20px 10px 20px;
        cursor:pointer;
        background:none;
        outline:none;
        border:none;
        font-size:28px;
        color:#fff;

        img {
          width:28px;
        }

      }

    }

    ul {
      display:none;
    }

  }

}

.navbar.responsive {

  ul, li {
    display:block;
  }

  ul {
    padding:0;
  }

  li {
    margin:0;
    padding:8px;
    border-radius:0;
    background-color:#333;
    border-top:1px solid rgba(255, 255, 255, 0.08);
  }

  li:hover, li.current {
    background-color:none;
    
    a {
      color:#fff;
    }

  }

}

.api-doc-selection {
  text-align:center;

  ul {
    margin:0;
    padding:30px 0 0 0;
    list-style-type:none;
  }

  li {
    display:inline-block;
    margin:0 10px;
    padding-bottom:20px;
  }
  
  a {
    text-decoration:none;
  }

  a.logo {
    display:inline-block;
    width:400px;
    height:140px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:3px;
    border-width:1px;
    border-style:solid;
    box-shadow:0px 1px 12px rgba(55, 55, 55, 0.15), 0px 1px 1px rgba(55, 55, 55, 0.1);
  }

  @media only screen and (max-width: 800px) {
    
    a.logo {
      width:340px;
    }

  }

  .logo.annotorious {
    background:#333;
    border-color:#333;
    font-family:Megrim;
    font-size:44px;
    color:#fff;
    box-shadow:0px 1px 12px rgba(55, 55, 55, 0.35), 0px 1px 1px rgba(55, 55, 55, 0.2);
  }

  .logo.osd-plugin {
    border-color:#dadce0;
    
    img {
      width:300px;
    }
  
  }

  p a:hover {
    text-decoration:underline;
  }

}

.column {
  position:relative;
  width:100%;
  padding:40px 20px 80px 230px;
  max-width:1120px;
  margin:0 auto;
  box-sizing:border-box;
  flex:1;

  p {
    margin:10px 0 25px 0;
    padding:0;
  }

  p + ul {
    padding-left:25px;
    margin:-20px 0 30px 0;
  }

  img {
    margin:10px 0;
    max-width:100%;
  }

}

.column.full-width {
  padding:40px 20px 80px 20px;
}

@media only screen and (max-width: 800px) {

  .column, .column.full-width {
    padding:25px 20px 60px 20px;
  }

  .table-of-contents {
    display:none;
  }

}

.table-of-contents.api {

  li {
    padding-bottom:25px;
  }

}

.table-of-contents {
  position:absolute;
  top:40px;
  left:15px;
  line-height:180%;
  pointer-events:none;

  nav {
    float:left;
    pointer-events:auto;
  }

  ul {
    list-style-type:none;
    margin:0;
    padding:0 0 0 2px;
  }

  ul ul {
    padding-left:5px;
  }

  li {
    font-weight:bold;
  }

  ul ul li {
    font-weight:normal;
    padding-bottom:0 !important;
  }

  a {
    text-decoration:none;
  }

  a:hover {
    text-decoration:underline;
  }
}

.section-overview {

  h2 {

    a {
      text-decoration:none;
    }

    a:hover {
      text-decoration:underline;
    }

  }

  p.blurb {
    padding-bottom:20px;
  }

}

a {
  color:#333;
}

h1, h2, h3, h4 {
  margin:0;
  padding:0;
}

h1 {
  font-size:24px;
  padding-bottom:10px;
  line-height:130%;
}

h2 {
  margin-top:40px;
  font-size:19px;
}

h3 {
  padding-top:35px;
}

.column blockquote, blockquote {
  background-color:#ffeac4;
  margin:20px 0;
  padding:20px;
  border-left:3px solid #ffa500;

  p {
    padding:0;
    margin:0;
  }

}

.highlight {
  margin-bottom:40px;

  pre {
    padding:15px;
    margin:25px 0;
    border-radius:3px;
    overflow-x:auto;
  }

}

li > code, p > code {
  display:inline-block;
  border-radius:3px;
  padding:0 4px;
  background-color:#f2f2f2;
}

table {
  border-collapse:collapse;
  width:100%;
  margin:30px 0;

  th {
    background: #e8eaed;
  }

  th, td {
    padding:5px 10px;
    font-size:15px;
    vertical-align:top;

    code {
      font-weight:bold;
    }

  }

  thead tr {
    text-align: left;
    border-top: 1px solid #dadce0;
  }

  tr {
    border-bottom: 1px solid #dadce0;
  }

}

.inline-demo {
  padding:10px 0;

  img {
    margin:0;
  }
  
}

p.image-caption {
  padding:0 0 20px 0;
  margin:0;
  color:#8f8f8f;

  a {
    color:#3f3f3f;
  }
}

footer {
  background:#222;
  color:#fff;
  position:relative;
 
  img {
    margin:0;
    padding:0 5px 0 0;
    vertical-align:middle;
  }

  .inner {
    width:100%;
    box-sizing:border-box;
    padding:30px 20px;
    max-width:1120px;
    margin:0 auto;
  }

  p {
    margin:0;
    padding:2px 0;
  }

  p.github-link {
    padding-top:4px;
  }

  a {
    color:#fff;
  }
}

