<!DOCTYPE html>
<html>
  <head>
    <title>Annotorious | {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ partial "meta-annotorious.html" . }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@{{.Site.Data.versions.annotorious}}/dist/annotorious.min.css" />
    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"rainer@no5.at",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
  </head>

  <body>
    <header class="banner">
      Annotorious version 2 is no longer maintained.&nbsp;<a href="https://annotorious.dev">Go to Annotorious v3.</a>
    </header>
    {{ partial "header.html" . }}
    <div class="column">
      <div class="main-content">
        {{ .Content }}
      </div>

      <div class="table-of-contents subsections">
        <nav>
          <ul>
            <li><a href="{{.Parent.Permalink}}">{{.Parent.Title}}</a></li>
            <li>
              <ul>
                {{ $currentPage := . }}
                {{ range where .Site.Pages "Params.subsection" .Params.subsection }}
                  <li>
                    {{ if eq $currentPage.Title .Title}}
                      <a href="{{.Permalink}}" class="active">{{.Title}}</a>
                    {{ else }}
                      <a href="{{.Permalink}}">{{.Title}}</a>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
    {{ partial "footer.html" }}
  </body>
</html>