<!DOCTYPE html>
<html>
  <head>
    <title>Annotorious | {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ partial "meta-annotorious.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    <div class="column">
      <div class="main-content">
        {{ .Content }}

        <div class="section-overview">
          {{ range .Pages }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="blurb">
              {{ .Params.blurb | markdownify }} <a href="{{ .Permalink }}">Read more</a>
            </p>
          {{ end }}
        </div>
      </div>

      <div class="table-of-contents">
        <nav>
          <ul>
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            <li>
              <ul>
                {{ range .Pages }}
                  <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                  </li>
                {{ end }}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    {{ partial "footer.html" }}
  </body>
</html>