@font-face {
  font-family:Megrim;
  src: url(/fonts/Megrim-Regular.ttf);
}

@font-face {
  font-family:Nunito;
  src: url(/fonts/Nunito-Regular.ttf);
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:Nunito;
  src: url(/fonts/Nunito-Bold.ttf);
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:Nunito;
  src: url(/fonts/Nunito-Italic.ttf);
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:Nunito;
  src: url(/fonts/Nunito-BoldItalic.ttf);
  font-weight:bold;
  font-style:italic;
}