<div id="navbar" class="navbar">
  <script>
    var openResponsiveMenu = function() {
      var el = document.getElementById('navbar');
      if (el.className === 'navbar') {
        el.className = 'navbar responsive';
      } else {
        el.className = 'navbar';
      }
    };
  </script>
  <header>
    <div class="mobile-only">
      <button class="hamburger-icon" id="open-responsive-menu" onclick="openResponsiveMenu()">
        <img src="/images/menu-24px.svg">
      </button>      
    </div>
    <ul>
      <li>
        <a href="/annotorious/">Home</a>
      </li>

      <li class='{{ cond (eq .Dir "annotorious/getting-started/") "current" "" }}'>
        <a href="/annotorious/getting-started">Getting Started</a>
      </li>

      <li class='{{ cond (eq .Dir "annotorious/api-docs/") "current" "" }}'>
        <a href="/annotorious/api-docs">API Docs</a>
      </li>
      
      <li class='{{ cond (eq .Dir "guides/") "current" "" }}'>
        <a href="/guides">Guides</a>
      </li>

      <li class='{{ cond (eq .Dir "annotorious/plugins/") "current" "" }}'>
        <a href="/annotorious/plugins">Plugins</a>
      </li>

      <li class='{{ cond (eq .Title "About") "current" "" }}'>
        <a href="/annotorious/about">About</a>
      </li>
      
      <li class="github"><a href="https://github.com/recogito/annotorious"><img src="/images/github-logo.svg"></a></li>
    </ul>
  </header>
</div>
