<meta name="description" content="{{ .Params.meta_description }}">
<meta name="twitter:title" content="{{ .Params.meta_title }}" />
<meta name="twitter:image:src" content="https://annotorious.github.io/images/annotorious-social-large.png" />
<meta name="twitter:site" content="@aboutgeo" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{ .Params.meta_description }}">
<meta property="og:title" content="{{ .Params.meta_title }}" />
<meta property="og:description" content="{{ .Params.meta_description }}">
<meta property="og:url" content="{{ .Params.meta_link }}" />
<meta property="og:image" content="https://annotorious.github.io/images/annotorious-social-large.png" />
<meta property="og:type" content="object" />
