<meta name="description" content="A JavaScript library for image annotation. Add drawing, commenting and labeling functionality to images on your website with a few lines of JavaScript.">
<meta name="twitter:title" content="Annotorious" />
<meta name="twitter:image:src" content="https://recogito.github.io/images/annotorious-social-large.png" />
<meta name="twitter:site" content="@aboutgeo" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="A JavaScript library for image annotation. Add drawing, commenting and labeling functionality to images on your website with a few lines of JavaScript.">
<meta property="og:title" content="Annotorious" />
<meta property="og:description" content="A JavaScript library for image annotation. Add drawing, commenting and labeling functionality to images on your website with a few lines of JavaScript.">
<meta property="og:url" content="https://github.com/recogito/annotorious" />
<meta property="og:image" content="https://recogito.github.io/images/annotorious-social-large.png" />
<meta property="og:type" content="object" />
