<div class="inline-demo">
  <div id="toolbar"></div>
  <img id="hallstatt" src="/images/640px-Hallstatt.jpg">
  <p class="image-caption">
    Sample image source: <a href="http://commons.wikimedia.org/wiki/File:Hallstatt_300.jpg">Hallstatt,
    Austria</a>, by Nick Csakany/Wikimedia Commons. Public Domain.
  </p>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@latest/dist/annotorious.min.css">
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@latest/dist/annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-toolbar@latest/dist/annotorious-toolbar.min.js"></script>
<style>
  #toolbar {
    padding-bottom:10px;
  }
  
  @media only screen and (max-width: 800px) {

    .r6o-editor {
      width:260px !important;
    }

  }
</style>
<script>
  var sampleAnnotation = { 
    "@context": "http://www.w3.org/ns/anno.jsonld",
    "id": "#a88b22d0-6106-4872-9435-c78b5e89fede",
    "type": "Annotation",
    "body": [{
      "type": "TextualBody",
      "value": "It's Hallstatt in Upper Austria"
    }, {
      "type": "TextualBody",
      "purpose": "tagging",
      "value": "Hallstatt"
    }, {
      "type": "TextualBody",
      "purpose": "tagging",
      "value": "Upper Austria"
    }],
    "target": {
      "selector": {
        "type": "FragmentSelector",
        "conformsTo": "http://www.w3.org/TR/media-frags/",
        "value": "xywh=pixel:421,80,151,151"
      }
    }
  };

  window.onload = function() {
    var anno = Annotorious.init({
      image: 'hallstatt',
      locale: 'auto',
      allowEmpty: true
    });

    Annotorious.Toolbar(anno, document.getElementById('toolbar'));

    anno.addAnnotation(sampleAnnotation);
  }
</script>