<div class="inline-demo">
  <style>
    #toolbar, .a9s-toolbar, .tag-selector, .tag-selector ul, .tag-selector li {
      display:inline;
    }
  
    .toolbar-wrapper {
      display: flex;
      align-items: center;
      padding-bottom:10px;
    }

    .toolbar-wrapper ul {
      padding:0;
      margin:0;
    }

    .toolbar-wrapper .tag-selector button {
      outline:none;
      border:none;
      height:45px;
      vertical-align:middle;
      margin-right:8px;
      padding:0 14px;
      border-radius:4px;
      cursor:pointer;
      background-color:transparent;
      font-weight:bold;
      color:#838282;
    }

    .toolbar-wrapper .tag-selector .green.active button {
      color:#fff;
      background-color:#00ab00;
    }

    .toolbar-wrapper .tag-selector .orange.active button {
      color:#fff;
      background-color:orange;
    }

    .a9s-annotationlayer .a9s-annotation .a9s-outer, 
    .a9s-annotationlayer .a9s-selection .a9s-outer {
      stroke-width:6px;
      stroke:#000;  
    }

    .a9s-annotationlayer .a9s-annotation .a9s-inner,
    .a9s-annotationlayer .a9s-selection .a9s-inner {
      stroke-width:4px;
      stroke:#fff !important;  
    }

    .a9s-annotationlayer .a9s-annotation.GREEN .a9s-inner {
      stroke:#00ab00 !important;
    }

    .a9s-annotationlayer .a9s-annotation.GREEN.editable.selected .a9s-inner,
    .a9s-annotationlayer .a9s-annotation.GREEN:hover .a9s-inner  {
      stroke:#00e000 !important;
    }

    .a9s-annotationlayer .a9s-annotation.ORANGE .a9s-inner {
      stroke:rgb(204, 133, 1) !important;
    }

    .a9s-annotationlayer .a9s-annotation.ORANGE.editable.selected .a9s-inner,
    .a9s-annotationlayer .a9s-annotation.ORANGE:hover .a9s-inner  {
      stroke:orange !important;
    }

    .a9s-annotationlayer circle.a9s-handle-inner {
      display:none;
    }

    .a9s-annotationlayer .a9s-annotation.editable .a9s-inner:hover {
      fill:transparent;
    }
  </style>
  <div class="toolbar-wrapper">
    <div id="toolbar"></div>
    <ul class="tag-selector">
      <li id="btn-orange" class="orange"><button>Orange</button></li>
      <li id="btn-green" class="green active"><button>Green</button></li>
    </ul>
  </div>
  <img id="hallstatt" src="/images/640px-Hallstatt.jpg">
  <p class="image-caption">
    Sample image source: <a href="http://commons.wikimedia.org/wiki/File:Hallstatt_300.jpg">Hallstatt,
    Austria</a>, by Nick Csakany/Wikimedia Commons. Public Domain.
  </p>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@latest/dist/annotorious.min.css">
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@latest/dist/annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-toolbar@latest/dist/annotorious-toolbar.min.js"></script>
<script>
  window.onload = function() {
    var btnOrange = document.getElementById('btn-orange'),
        btnGreen = document.getElementById('btn-green');

    var active = 'GREEN';

    btnOrange.addEventListener('click', function() {
      active = 'ORANGE';
      btnOrange.className = 'orange active';
      btnGreen.className = 'green';
    });

    var formatter = function(annotation) {
      var highlightBody = annotation.bodies.find(function(b) {
        return b.purpose == 'highlighting';
      });

      if (highlightBody)
        return highlightBody.value;
    };

    btnGreen.addEventListener('click', function() {
      active = 'GREEN';
      btnOrange.className = 'orange';
      btnGreen.className = 'green active';
    });

    var anno = Annotorious.init({
      image: 'hallstatt',
      allowEmpty: true,
      disableEditor: true,
      formatter: formatter
    });

    anno.on('createSelection', function(selection) {
      selection.body = {
        value: active,
        purpose: 'highlighting'
      };

      anno.updateSelected(selection, true);
    });

    document.body.addEventListener('keyup', function(evt) {
      if (evt.which === 46) { // Delete
        var selected = anno.getSelected();
        anno.removeAnnotation(selected); 
      }
    });

    Annotorious.Toolbar(anno, document.getElementById('toolbar'));
  }
</script>